@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.dancing-script-400 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dancing-script-700 {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

header, footer {
  box-shadow: 0 0 5px 3px #ccc;
}

footer a.current svg {
  filter: invert(41%) sepia(76%) saturate(1701%) hue-rotate(202deg) brightness(97%) contrast(99%);
}
