@import 'node_modules/bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "Titillium Web";

header, footer {
  box-shadow: 0 0 5px 3px #ccc;
}

footer a.current svg {
  filter: invert(41%) sepia(76%) saturate(1701%) hue-rotate(202deg) brightness(97%) contrast(99%);
}

* {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', '나눔바른고딕', '나눔고딕', '맑은고딕', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
